/*secretariat page*/
#secretariatContent{
    padding: 8vw;
    background: #ffffff;

    h1{
        padding: 1vw
    }
    #glow{
        display: block;
        width: 15rem;
        height: auto;
        margin-left: calc(50% - 7.5rem);
        margin-bottom: 5vw;
    }
}
/*end secretariat page*/
