@import "variables";

/*shortlist page*/
#shortlistContent{
    h1{
        margin: {
            top: 2.5rem;
            bottom: 1rem
        }
        font: {
            family: $font-family-sans-serif-heavy
        }
    }
    padding: 5vw;
    background: #ffffff;

    p{
        font-size: large
    }
    h3{
        padding: {
            top: 2.5vw;
            bottom: 2.5vw
        }
        color: $primary-color;
        font-weight: bold
    }
    ul{
        list-style-type: none;
        li{
            text-transform: uppercase;
            font: {
                size:large;
            }
        }
    }
}
/*end shortlist page*/
