@import "variables";

/*shortlist page*/
#shortlistContent{
    h1{
        font: {
            family: $font-family-sans-serif-heavy
        }
    }
    padding: 5vw;
    background: #ffffff;

    h3{
        padding: {
            top: 2.5vw;
            bottom: 2.5vw
        }
        color: $primary-color;
        font-weight: bold
    }
    li{
        text-transform: uppercase;
        font: {
            size:large;
        }
    }
}
/*end shortlist page*/
