@import "variables";

/*sponsor page*/
#sponsorContent{
    background: #ffffff;
    padding-bottom: 5vh;

    h1{
        padding: 5vw
    }
    .sponsors{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img{
            height: 12rem;
            width: auto;
            margin-left: 20px;
            max-width: 100vw
        }
    }
}
/*end sponsor page*/
