
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'AvantNormal', sans-serif;
$font-family-serif: 'ArnoPro', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//custom colors
$primary-color: #15ace4;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//mixins
@mixin css3-prefix($prop, $value) {
    -webkit-#{$prop}: #{$value};
    -moz-#{$prop}: #{$value};
    -ms-#{$prop}: #{$value};
    -o-#{$prop}: #{$value};
    #{$prop}: #{$value};
}

@mixin  brad($value){
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}

@mixin bimg($value){
    -webkit-border-image: $value;
    -moz-border-image: $value;
    -o-border-image: $value;
    border-image: $value;
}
