// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    font-family: $font-family-sans-serif-normal;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

#homeContent{
    display: grid;
    grid-template-rows: 16vh 84vh 100vh 115vh 80vh 84vh;
    grid-template-columns: 100vw;

    #landingTop{
        grid-area: 1/1/2/2;
        height: 16vh;
        width: 100vw;
        z-index: 2;
        position: fixed;
        background: #ffffff;

        .navigation{
            position: fixed;
            right: 5%;
            top: calc(8vh - 1rem);

            a{
                display: inline-block;
                color: $primary-color;
                font-size: x-large;
                padding-left: 3rem;
                text-decoration: none;
                font-family: $font-family-sans-serif-light;
                font-weight: bolder;
            }
        }
        .homeLink{
            display: block;

            img{
                position: absolute;
                left: 1%;
                top: 1%;
                height: 22vh;
                width: auto;
            }
        }
    }

    #landingMain{
        background: #ffffff;
        grid-area: 2/1/3/2;
        z-index: 1;
        position: relative;
        p{
            color: #001001;
            position: absolute;
            left: 5%;
            top: 10%;
            font-size: 3rem;
            font-family: $font-family-sans-serif-heavy;
            span{
                display: block;
                font-size: 1.75rem;
                font-family: $font-family-sans-serif-normal;
                margin-top: 5vh;
                color: $primary-color;
            }
        }
        img{
            position: absolute;
            top: 0;
            left: 50%;
            height: 60vh;
            width: auto;
            display: block;
        }
        .discoverMore{
            position: absolute;
            bottom: 5vw;
            left: 30vw;
            @include css3-prefix(transform, translateX(-75%));
            background: #001001;
            color: $primary-color;
            font-family: $font-family-sans-serif-normal;
            font-size: x-large;
            padding: 5px 20px 5px;
            border: 1px solid transparent;
            cursor: pointer;
            @include brad(0);
            &:hover{
                background: $primary-color;
                color: #001001;
            }
        }
    }

    #whatWeDo{
        grid-area: 3/1/4/2;
        position: relative;
        background: #ffffff;

        p{
            color: green;
            text-align: center;
            position: absolute;
            top: 20vh;
            right: 5%;
            font-size: 2.5rem;
            font-family: $font-family-sans-serif-heavy;
            z-index: 1
        }
        img{
            position: absolute;
            top: 20vh;
            height: 60vh;
            width: auto;
            display: block;
            left: 0;
        }
        .viewCategories{
            position: absolute;
            bottom: 10vw;
            right: 25vw;
            @include css3-prefix(transform, translateX(25%));
            background: #001001;
            color: green;
            font-family: $font-family-sans-serif-normal;
            font-size: x-large;
            padding: 5px 20px 5px;
            border: 1px solid transparent;
            cursor: pointer;
            @include brad(0);
            &:hover{
                background: green;
                color: #001001;
            }
        }
    }

    #howWeDoIt{
        position: relative;
        grid-area: 4/1/5/2;
        padding: 5%;
        font-size: 1.5rem;
        background-color: yellow;

        h1{
            color: $primary-color;
            position: absolute;
            top: 10%;
            left: 50%;
            font-family: $font-family-sans-serif-heavy;
            font-size: 3rem;
            @include css3-prefix(transform, translateX(-50%))
        }
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20vw;
            height: auto;
            @include css3-prefix(transform, translate(-50%, -50%));
        }
        .one, .two, .three, .four{
            display: block;
            position: absolute;
            text-align: center;
            max-width: 35vw;
        }
        .one{
            top: 20%;
            left: 5%;
        }
        .two{
            top: 20%;
            right: 5%;
        }
        .three{
            bottom: 20%;
            left: 5%;
        }
        .four{
            bottom: 15%;
            right: 5%;
        }
    }

    #insurancePlayers{
        position: relative;
        grid-area: 5/1/6/2;
        background: #ffffff;
        h1{
            color: #001001;
            font-size: 3rem;
            font-family: $font-family-sans-serif-heavy;
            position: absolute;
            top: 10vh;
            width: 100%;
        }
        img{
            display: inline-block;
            width: 20%;
            height: auto;
            position: absolute;
            top: 25vh;

            &:nth-of-type(1){ left: 2.5%;}
            &:nth-of-type(2){ left: 27.5%;}
            &:nth-of-type(3){ left: 52.5%;}
            &:nth-of-type(4){ left: 77.5%;}
        }
    }
    #footer{
        position: relative;
        grid-area: 6/1/7/2;
        background: $primary-color;
    }
}

