
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Oswald');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    font-family: $font-family-sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

#homeContent{
    display: grid;
    grid-template-rows: 16vh 84vh 100vh;
    grid-template-columns: 100vw;

    #landingTop{
        grid-area: 1/1/2/2;
        height: 16vh;
        width: 100vw;
        z-index: 2;
        position: fixed;
        background: #ffffff;

        .navigation{
            position: fixed;
            right: 5%;
            top: calc(8vh - 1rem);

            a{
                display: inline-block;
                color: $primary-color;
                font-size: x-large;
                padding-left: 1.5rem;
                text-decoration: none;
                font-family: 'Oswald', monospace;
            }
        }
        .homeLink{
            display: block;

            img{
                position: absolute;
                left: 1%;
                top: 1%;
                height: 15vh;
                width: auto;
            }
        }
    }

    #landingMain{
        background: #ffffff;
        grid-area: 2/1/3/2;
        z-index: 1;
        position: relative;
        p{
            color: #000000;
            position: absolute;
            right: 5%;
            top: 10%;
            font-size: 3rem;
            font-weight: bolder
        }
        img{
            position: absolute;
            top: 15vh;
            right: 40%;
            height: auto;
            width: 60%;
            display: block;
        }
        .discoverMore{
            position: absolute;
            bottom: 5vw;
            right: 20vw;
            @include css3-prefix(transform, translateX(50%));
            color: $primary-color;
            font-family: 'Oswald', monospace;
            font-weight: lighter;
            font-size: xx-large;
            padding: 1rem;
            border: 2px solid $primary-color;
            @include brad(6px)
        }
    }
}

