// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    font-family: $font-family-sans-serif-normal;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}
a{ text-decoration: none!important }

/*default template*/
#defaultContent{
    display: grid;
    grid-template-rows: 24vh auto auto;
    grid-template-columns: 100vw;

    #top{
        grid-area: 1/1/2/2;
        height: 24vh;
        width: 100vw;
        z-index: 2;
        position: relative;
        background: #ffffff;

        .navigation{
            position: absolute;
            top: 18vh;
            height: auto;
            padding: 1rem;
            right: 0;
            width: 100%;
            display: flex;
            align-items: center;
            background: #001001;

            a:hover{
                border-bottom: 4px solid;
            }
            .navlinks{
                text-align: right;
                display: inline-flex;
                color: $primary-color;
                font-size: 1.25rem;
                margin-left: 3rem;
                font-family: $font-family-sans-serif-normal;

                &.activePage{
                    border-bottom: 4px solid;
                }
            }
            #nominationLink{
                cursor: pointer;

                .nominationBlock{
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: auto;
                    padding: 2vw;
                    @include brad(6px);
                    @include css3-prefix(transform, translateX(-25%));
                    background: #001001;
                    color: $primary-color;
                    line-height: 2.5;

                    a{
                        white-space: nowrap;
                        display: block;
                        text-align: left;
                        color: $primary-color;
                        line-height: 2.5;
                        &:hover{
                            border-bottom: unset;
                        }
                    }
                }
                &.showBlock{
                    position: relative;

                    .nominationBlock{
                        display: block;
                    }
                }
            }
            #committee{
                cursor: pointer;

                .committeeBlock{
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: auto;
                    padding: 2vw;
                    @include brad(6px);
                    @include css3-prefix(transform, translateX(-25%));
                    background: #001001;
                    color: $primary-color;
                    line-height: 2.5;

                    a{
                        white-space: nowrap;
                        display: block;
                        text-align: left;
                        color: $primary-color;
                        line-height: 2.5;
                        &:hover{
                            border-bottom: unset;
                        }
                    }
                }
                &.showBlock{
                    position: relative;

                    .committeeBlock{
                        display: block;
                    }
                }
            }
            #sponsor{
                cursor: pointer;

                .sponsorBlock{
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: auto;
                    padding: 2vw;
                    @include brad(6px);
                    @include css3-prefix(transform, translateX(-25%));
                    background: #001001;
                    color: $primary-color;
                    line-height: 2.5;

                    a{
                        white-space: nowrap;
                        display: block;
                        text-align: left;
                        color: $primary-color;
                        line-height: 2.5;
                        &:hover{
                            border-bottom: unset;
                        }
                    }
                }
                &.showBlock{
                    position: relative;

                    .sponsorBlock{
                        display: block;
                    }
                }
            }
            #homeButton{
                width: 1.25rem;
                height: 1.25rem;
                margin-bottom: 4px
            }
            .fa-times, .menuButton{
                color: $primary-color;
                display: none;
                font-size: 1.5rem;
                cursor: pointer;
            }
            .menuButton{
                margin-left: 50vw;
                @include css3-prefix(transform, translateX(-50%))
            }
        }
        .homeLink{
            display: block;

            img{
                position: absolute;
                left: 1%;
                top: 0;
                height: 18vh;
                width: auto;
            }
        }
        .dateVenue{
            position: relative;
            width: max-content;
            width: -moz-max-content;
            height: auto;
            top: 30%;
            right: 5%;
            float: right;
            @include css3-prefix(transform, translateY(-50%));
            font-size: 1.4rem;
            color: grey;
            font-family: unset;

            img{
                width: 1.25rem;
                height: 1.25rem
            }

            &::after{
                position: absolute;
                content: "";
                top: 105%;
                left: 0;
                width: 100%;
                height: .25rem;
                background: $primary-color2
            }
            &::before{
                position: absolute;
                content: "Malaika Beach Resort, Mwanza";
                top: calc(110% + .25rem);
                left: 0;
                width: 100%;
                font-size: 1rem;
                color: $primary-color;
                text-align: center;
            }
        }
    }

    #main{
        grid-area: 2/1/3/2;
        background: #fff;
    }

    #footer{
        grid-area: 3/1/4/2;
        background: #ffffff;
        width: 100vw;

        svg{
            height: 42vh;
            width: 100vw;
            margin-top: 0;

            .svgText{
                color: #001001;
                font-family: $font-family-sans-serif-heavy;
                font-size: .25rem;
                text-align: center;
                @include css3-prefix(transform,scale(.7,2))
            }
        }
        #companyContacts{
            background: #fff;
            width: 100%;
            text-align: center;
            font-size: 1rem;
            display: flex;
            flex-wrap: nowrap;
            padding: 5vw;

            .logo{
                height: auto;
                max-height: 120px;
                display: block;
                width: 160px
            }
            .contactInfo{
                width: 60vw;
                display: block;
                font-size: small;
                text-align: left;
                color: darkgrey;
                font-family: $font-family-sans-serif-normal;
                align-self: center;
                padding-left: 5vw
            }
        }
        #socialFooter{
            background: #fff;
            width: 100%;
            margin-top: 0;
            padding-bottom: 5vh;

            a{
                text-decoration: none;
                margin-right: 5vw;
                float: right;
                color: darkgrey;
                font-size: 1rem;

                &:nth-of-type(1){font-family: $font-family-sans-serif-normal}
                //&:nth-of-type(2){color: #4267b2}
                //&:nth-of-type(3){color: #cd426c}
                //&:nth-of-type(4){color: #1da1f2}
            }
        }
    }
}

/*default page responsiveness*/
@media screen and (max-width: 1335px){
    #defaultContent #top .navigation .navlinks{
        font-size: 1rem
    }
}
@media screen and (max-width: 1160px){
    #defaultContent #top .navigation .navlinks{
        font-size: .75rem
    }
}
@media screen and (max-width: 1000px) {
    #defaultContent #top .navigation{
        padding: .75rem;

        .navlinks{
            display: none;
        }
        .menuButton{
            display: block;
        }
        &.showMenu{
            top: 0;
            right: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1000;
            background: #001001;
            padding: unset;
            display: unset;

            .navlinks{
                display: block;
                text-align: center;
                margin-left: -5%;
                font-size: x-large;
                margin-bottom: 2.5vw;
            }
            #homeButton{
                margin-top: 10vh
            }
            #committee .committeeBlock, #sponsor .sponsorBlock, #nominationLink .nominationBlock{
                left: 52.5vw;
                @include css3-prefix(transform, translateX(-50%));
                line-height: 1.5;
                border: 1px solid;
                font-size: medium;
                width: 60vw;

                a{
                    text-align: center;
                }
            }
            .menuButton{
                display: none
            }
            .fa-times{
                display: block;
                position: absolute;
                right: 5vw;
                top: calc(8vh - 1rem)
            }
        }
    }
}

@media screen and (max-width: 775px){
    #defaultContent #footer {
        svg{
            height: 22vh
        }
        #companyContacts{
            flex-wrap: wrap;

            .logo{
                margin: 2vh 0
            }

        }
        #socialFooter a{
            font-size: .6rem
        }
    }
}
@media screen and (max-width: 600px){
    #defaultContent #top{
        .homeLink img{
            height: 12vh;
        }
        .dateVenue{
            font-size: medium;
            float: unset;
            right: unset;
            top: 60%;
            left: 50vw;
            @include css3-prefix(transform, translateX(-120%));

            &::after{
                top: 0;
                left: 105%;
                width: .25rem;
                height: 100%
            }
            &::before{
                top: 0;
                left: 110%;
                width: max-content;
                width: -moz-max-content;
            }
        }
        #footer #companyContacts .contactInfo{
            padding-left: unset
        }
    }
}
@media screen and (max-width: 575px){
    #defaultContent {
        #top .navigation{
            padding: .25rem
        }
        #footer #companyContacts .contactInfo{
            font-size: x-small;
        }
    }
}
@media screen and (max-width: 500px){
    #defaultContent #footer #companyContacts{
        font-size: .8rem
    }
}
@media screen and (max-width: 470px){
    #defaultContent {
        #top {
            .navigation.showMenu .navlinks{
                font-size: large
            }
            .dateVenue{
                font-size: small;
                &::before{
                    font-size: small;
                }
            }
        }

    }
}
@media screen and (max-width: 425px){
    #defaultContent #footer svg{
        height: 15vh
    }
}
@media screen and (max-width: 395px){
    #defaultContent{
        #top .dateVenue{
            img{
                display: none;
            }
            &::before{
                font-size: .7rem
            }
        }
        #footer #companyContacts{
            font-size: .65rem
        }
    }
}
@media screen and (max-width: 362px){
    #defaultContent #footer svg{
        height: 12vh
    }
}
/*iPad */
@media screen and (aspect-ratio: 3/4) and (min-height: 1020px){
    #defaultContent {
        grid-template-rows: 22vh auto auto;

        #top{
            height: 22vh;

            .homeLink img{
                height: 16vh
            }
            .navigation{
                padding: 1rem;
                top: 16vh;
            }
        }
    }
}
/*iPad-Pro */
@media screen and (min-aspect-ratio: 3/4) and (min-height: 1330px){
    #defaultContent {
        grid-template-rows: 20vh auto auto;

        #top{
            height: 20vh;

            .homeLink img{
                height: 16vh
            }
            .navigation{
                padding: 1rem;
                top: 16vh
            }
        }
        #footer svg{
            height: 25vh
        }
    }

}
/*end default template*/

/*home page*/
#homeContent{
    display: grid;
    grid-template-rows: 84vh 100vh 80vh 100vh ;
    grid-template-columns: 100vw;

    #landingMain{
        grid-area: 1/1/2/2;
        z-index: 1;
        position: relative;
        p{
            color: #001001;
            position: absolute;
            left: 50%;
            top: 10%;
            @include css3-prefix(transform, translateX(-50%));
            font-size: 3rem;
            font-family: $font-family-sans-serif-heavy;
            span:nth-of-type(2){
                display: block;
                font-size: 1.75rem;
                font-family: $font-family-sans-serif-normal;
                margin-top: 5vh;
                color: #fff;
            }
        }

    }

    #whatWeDo{
        grid-area: 2/1/3/2;
        position: relative;
        background: #ffffff;

        .whatwedo{
            color: $primary-color;
            text-align: left;
            position: absolute;
            top: 50%;
            left: 5%;
            width: 40%;
            @include css3-prefix(transform, translateY(-50%));
            font-size: 2.5rem;
            font-family: $font-family-sans-serif-heavy;
            z-index: 1
        }
        .theProcess{
            background: $primary-color2;
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            padding-top: 18%;

            h1{
                color: #001001;
                position: absolute;
                left: 50%;
                top: 5%;
                font-family: $font-family-sans-serif-heavy;
                font-size: 3rem;
                z-index: 1;
                white-space: nowrap;
                @include css3-prefix(transform, translateX(-50%))
            }
            .one, .two, .three, .four{
                display: inline-block;
                text-align: left;
                max-width: 40vw;
                margin-left: 5vw;
                margin-bottom: 5vh;
            }
        }
    }

    #insurancePlayers{
        position: relative;
        grid-area: 3/1/4/2;
        background: #ffffff;
        h1{
            color: #001001;
            font-size: 3rem;
            font-family: $font-family-sans-serif-heavy;
            position: absolute;
            top: 10vh;
            width: 100%;
        }
        img{
            display: inline-block;
            width: 20%;
            height: auto;
            position: absolute;
            top: 25vh;

            &:nth-of-type(1){ left: 2.5%;}
            &:nth-of-type(2){ left: 27.5%;}
            &:nth-of-type(3){ left: 52.5%;}
            &:nth-of-type(4){ left: 77.5%;}
        }
    }

    #dates{
        position: relative;
        grid-area: 4/1/5/2;
        background: #ffffff;
        padding-bottom: 5vw;

        h1{
            top: 10vh;
            text-align: left;
            left: 15vw;
            position: absolute;
            color: #001001;
            font-family: $font-family-sans-serif-heavy;
            font-size: 3rem;
        }
        p{
            top: 20vh;
            left: 15vw;
            position: absolute;
            font-size: 1.3rem;
            color: #001001;
            font-family: $font-family-sans-serif-normal;
            text-align: left;
            max-width: 70%;
            span {
                &:nth-of-type(1){
                color: #001001;
                font-family: $font-family-sans-serif-heavy;
                display: block;
                font-size: 2rem;
                text-align: left;
                }

                &:nth-of-type(2), &:nth-of-type(3){
                    font-family: $font-family-sans-serif-light;
                    text-align: left;
                    display: block;
                    line-height: 0
                }
            }

        }

    }

}
/*Responsiveness for home page*/
@media screen and (max-width: 1000px){
    #homeContent{
        grid-template-rows: 84vh 100vh 60vh 100vh;
    }
}
@media screen and (max-width: 930px){
    #homeContent{
        grid-template-rows: 84vh 100vh 60vh 100vh;

        #whatWeDo{
            .whatwedo, .theProcess h1{
                font-size: 2rem
            }
        }
        #insurancePlayers{
            h1{
                font-size: 2rem
            }
        }
        #dates {
            h1{
                font-size: 2rem
            }
            p{
                font-size: 1.1rem;
                span{
                    font-size: 1.5rem
                }
            }

        }
    }
}
@media screen and (min-width: 865px){
    #homeContent #whatWeDo .theProcess{
        .four, .three, .two, .one{
            font-size: large
        }
    }
}
@media screen and (max-width: 770px){
    #homeContent #landingMain p{
        font-size: 2.5rem;
    }
}
@media screen and (max-height: 735px){
    #homeContent{
        #whatWeDo{
            .theProcess{
                .one, .two, .three, .four{}
                font-size: x-small!important;
            }
        }
    }
}
@media screen and (max-height: 730px) and (min-height: 600px){
    #homeContent #whatWeDo .theProcess{
        padding-top: 28%
    }
}
@media screen and (max-width: 695px){
    #homeContent {
        #landingMain p{
            font-size: 2rem
        }
        #whatWeDo{
            .whatwedo, .theProcess h1{
                font-size: 1.5rem
            }
        }
    }
}
@media screen and (max-width: 615px){
    #homeContent{
        grid-template-rows: 84vh 100vh 60vh 100vh;

        #dates{
            h1{
                font-size: 1.5rem
            }
            p{
                font-size: .9rem;
                span{
                    font-size: 1rem!important;
                }
            }

        }
        #insurancePlayers h1{
            font-size: 1.5rem
        }
    }
}
@media screen and (max-width: 575px){
    #homeContent{
        grid-template-rows: 84vh 100vh 45vh 100vh;

        #landingMain{
            p{
                top: 20%;
                font-size: 1.75rem;
                span{
                    font-size: 1.25rem
                }
            }
        }
        #whatWeDo{
            .theProcess{
                .one, .two, .three, .four{}
                font-size: small
            }
        }
    }
}
@media screen and (max-width: 405px){
    #homeContent{
        #landingMain p{
            top: 10%;
            font-size: 1.5rem;

            span{
                font-size: 1.2rem
            }
        }
        #whatWeDo{
            .whatwedo, .theProcess h1{
                font-size: 1.3rem
            }
        }
        #dates {
            p{
                top: 10vh;
                span{
                    margin-top: 10px
                }
            }

        }
    }
}
@media screen and (max-width: 400px){
    #homeContent {
        #dates h1{
            width: 100vw;
            font-size: 1.3rem;
            top: 5vh
        }
    }
}
@media screen and (max-width: 330px){
    #homeContent #dates p{
        font-size: .7rem
    }
}
/*iPad */
@media screen and (aspect-ratio: 3/4) and (min-height: 1020px){
    #homeContent {
        grid-template-rows: 84vh 90vh 45vh 70vh;
        #whatWeDo .theProcess{
            padding-top: 20%;
            font-size: large
        }
    }
}
/*iPad-Pro */
@media screen and (min-aspect-ratio: 3/4) and (min-height: 1330px){
    #homeContent {
        grid-template-rows: 64vh 85vh 40vh 70vh;
        #whatWeDo .theProcess{
            padding-top: 25%;
            font-size: large
        }
    }
}

/*end home page*/

/*vote page*/
#voteContent{
    background: #ffffff;

    h1{
        padding: 5vh;
        font-weight: 900;
    }
    form{
        text-align: center;
        font-size: 1.2rem;
        display: inline-block;

        &:last-of-type{
            margin-bottom: 15vh;
        }

        label{
            color: #001001;
            display: block;
            padding: 10px;
            border: 1px solid;
            width: 50vw;
            margin-left: 25vw;
            text-align: left;

            &:nth-of-type(1){
                color: green;
                border: none;
                padding: unset;
                width: 100vw;
                margin-left: unset;
                text-align: unset;
            }
        }
        input[type="radio"]{

        }
        button{
            background: $primary-color;
            color: #001001;
            border: none;
            font-size: x-large;
            width: 20vw;
            padding: 8px;
            margin-bottom: 10vh;
            @include css3-prefix(box-shadow, 0 0 4px rgba(0, 0, 0, .5))
        }
        span{
            display: block;
            float: right
        }
    }
}

/*Vote page responsiveness*/
@media screen and (max-width: 405px){
    #voteContent {
        form{
            font-size: 1rem;

            label{
                width: 70vw;
                margin-left: 15vw
            }
            button{
                font-size: large
            }
        }
    }
}

/*end vote page*/

/*judges and steering page*/
#judgesContent, #steeringContent{
    background: #fff;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100vw;
    padding-top: 10vh;

    #judgesHeader, #steeringHeader{
        grid-area: 1/1/2/2;
        font-size: 2.5rem
    }

    #judges, #steeringContainer{
        grid-area: 2/1/3/2;
        height: min-content;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5vh;
        justify-content: center;

        .judge, .steering{
            display: inline-block;
            height: 40vh;
            width: 15rem;

            .name, .title, .company{width: 15rem;}
            img{
                @include brad(50%);
                height: 10rem;
                width: 10rem;
                padding: 5px;
                border: 1px solid $primary-color;
                margin-left: calc(2.5rem - 5px);
                display: block;
            }
            .name{
                font-family: $font-family-sans-serif-normal;
                font-size: 1.2rem;
                color: #001001;
            }
            .title{
                font-family: $font-family-sans-serif-normal;
                font-size: 1.1rem;
                color: $primary-color
            }
            .company{
                font-family: $font-family-sans-serif-light;
                color: grey;
                font-size: small;
            }
        }
    }
}
/*Responsiveness judges, contact and steering page*/
@media screen and (max-width: 474px){
    #judgesContent #judges .judge, #steeringContent #steeringContainer .steering, #contactContent .contactContainer .contact{

        img{
            @include css3-prefix(transform, scale(.8));
        }
    }
}
/*End judges and steering page*/

/*secretariat page*/
#secretariatContent{
    padding: 8vw;
    background: #ffffff;

    h1{
        padding: 1vw
    }
    #glow{
        display: block;
        width: 15rem;
        height: auto;
        margin-left: calc(50% - 7.5rem);
        margin-bottom: 5vw;
    }
}
/*end secretariat page*/

/*categories page*/
#categoriesContent{
    line-height: 2;
    padding: 0 15vw 10vh;
    background: #ffffff;
    font-size: large;
    text-align: left;

    h1, h3{
        padding: 5vw 3vw 1vw 0;
        color: $primary-color;
    }
    .methodologyLink{
        cursor: pointer;
        color: $primary-color
    }
    .cats{
        margin-top: 2.5vh;
        padding: 0;
        a{
            text-decoration: none;
            color: $primary-color;
            @include css3-prefix(box-shadow, 0 3px 3px rgba(0,0, 0, 0.4));
            width: 70vw;
            padding: 1.25vw;
            border: 1px solid;
            margin-bottom: 3vw;
            text-align: center;
            display: block;

            &:hover{
                background: #001001;
                border: 1px solid #001001;
                color: #fff
            }
        }
    }
    b{
        font-family: "AvantHeavy", sans-serif;
    }
}
/*forms responsiveness*/
@media screen and (max-width: 550px){
    #categoriesContent {
        font-size: medium;

        h1{
            font-size: 1.75rem
        }
    }
}
@media screen and (max-width: 485px){
    #categoriesContent {
        font-size: small;
    }
}
@media screen and (max-width: 395px){
    #categoriesContent {

        h1{
            font-size: 1.25rem
        }
        ul li{
            margin-bottom: 2vw
        }
    }
}
/*Categories end*/

/*nomination Content*/
#nominationContent{
    background: #ffffff;
    padding: 10vh 5% 5% 5%;
    text-align: left;
    border: 1px solid;
    margin: 5%;
    @include css3-prefix(box-shadow, 0 4px 4px rgba(0,0, 0, 0.4));

    b{
        color: $primary-color
    }
}
/*end nomination content*/

/*sponsor page*/
#sponsorContent{
    background: #ffffff;
    padding-bottom: 5vh;

    h1{
        padding: 5vw
    }
    .sponsors{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img{
            height: 12rem;
            width: auto;
            margin-left: 20px;
            max-width: 100vw
        }
    }
}
/*end sponsor page*/

/*contact page*/
#contactContent{
    background: #ffffff;
    padding: 5vw;

    h4{
        color: $primary-color;
        font-weight: bolder;
    }
    .contactContainer{
        margin-top: 5vw;
        margin-bottom: 5vw;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        .contact{
            display: inline-block;
            height: 40vh;
            width: 15rem;
            margin-bottom: 10vw;

            .name, .title, .company{width: 15rem; font-family: $font-family-sans-serif-normal;}
            img{
                @include brad(50%);
                height: 10rem;
                width: 10rem;
                padding: 5px;
                border: 1px solid $primary-color;
                margin-left: calc(2.5rem - 5px);
                display: block;
            }
            .name{
                font-size: 1.2rem;
                color: #001001;
            }
            .title{
                font-size: 1.1rem;
                color: $primary-color
            }
            .company{
                color: #001001;
                font-size: small;
            }
        }
    }
}
/*end contact page*/

/*Application page*/
#applicationContent{
    background: #fff;
    padding: 10vh 10% 10% 10%;
    text-align: left;
    border: 1px solid;
    margin: 5%;
    @include css3-prefix(box-shadow, 0 4px 4px rgba(0,0, 0, 0.4));

    form{
        height: 40vh;
        width: 100%
    }
}

