@font-face {
    font-family: 'AvantNormal';
    src: url('../fonts/avant-garde-medium-condensed.woff') format('webopenfontformat');
    font-weight: normal;
    font-style: normal;
}

/*extra css*/
#howWeDoIt{
    background-image: url("../images/howwedo.svg")!important;
}
