@font-face {
    font-family: 'AvantNormal';
    src: url('../fonts/avantn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArnoPro';
    src: url('../fonts/arnopro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*extra css*/
#howWeDoIt{
    background-image: url("../images/howwedo.svg")!important;
}
